<launch>

 <!--robot arguments -->
  <arg name="robot"  default="fieldlab_cel3_calib" />

 <!-- calibrate arguments -->
  <arg name="calibration_data" default="calibration_data_2019-01-24-14-19-53.bag"/>
  <arg name="output_file_ext" default="fieldlab_cel3_calibration_output"/>
  <arg name="calibrate_config_file_name" default="calibrate_with_multiple_cameras.yaml"/>

  <!-- static args -->
  <arg name="robot_package_path" value="(find $(arg robot))" />
  <arg name="dollar" value="$" />

  <!-- Robot calibration calibrate launch -->
	<rosparam command="delete" param="robot_calibration" />
	<node pkg="robot_calibration" type="calibrate" name="calibrate"
			args="--from-bag $(arg dollar)$(arg robot_package_path)/calibration/abb_robot_calibration/$(arg calibration_data)"
			output="screen" required="true">
		<rosparam file="$(arg dollar)$(arg robot_package_path)/config/$(arg calibrate_config_file_name)" command="load"/>
	</node>

  <!-- Set output param code -->
  <param name="robot_calibration_output_file_extension" type="str" value="$(arg output_file_ext)" />
  <param name="robot_calibration_output_directory" type="str" value="$(arg dollar)$(arg robot_package_path)/calibration/" />

</launch>
