<launch>
    <!-- utility arguments -->
    <arg name="mounted_camera_launch" default="false"/>
    <arg name="external_camera_launch" default="false"/>

    <!-- Camera 1-->
    <group if="$(arg mounted_camera_launch)">
        <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
            <arg name="camera" value="mounted_camera"/>
            <arg name="serial_no" value="828612061092"/>
        </include>
    </group>

    <!-- Camera 2-->
    <group if="$(arg external_camera_launch)">
        <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
            <arg name="camera" value="external_camera"/>
            <arg name="serial_no" value="806312060253"/>
        </include>
    </group>
</launch>