<launch>
  <!-- utility -->
  <arg name="rviz_planner" default="true"/>

  <!-- camera args -->
  <arg name="camera_launcher_arg" default="none"/>

  <!-- Launch 3D sensors -->
  <!-- camera launch -->
  <!-- launch camera, with or without replugging, run the script with arg camera_launcher_arg "replug" -->
  <!-- group if="$(eval camera_launcher_arg == 'relaunch_all')">
      <node pkg="fieldlab_cel3_calib" type="realsense_camera_launcher.py" name="realsense_camera_launcher" args="replug" output="screen" required="true" launch-prefix="xterm -e"/>
  </group--> <!-- NOT REQUIRED, NEW PR ON INTEL REPO WITH RESET functionality. TODO!!! https://github.com/intel-ros/realsense/pull/455 -->

  <group if="$(eval camera_launcher_arg == 'launch_all')">
     <include file="$(find fieldlab_cel3_calib)/launch/cameras_cal.launch">
        <arg name="mounted_camera_launch" value="true"/>
        <arg name="external_camera_launch" value="true"/>
     </include>
  </group>

  <group if="$(eval camera_launcher_arg == 'launch_mounted_cam')" >
     <include file="$(find fieldlab_cel3_calib)/launch/cameras_cal.launch">
        <arg name="mounted_camera_launch" value="true"/>
     </include>
  </group>

  <group if="$(eval camera_launcher_arg == 'launch_external_cam')">
     <include file="$(find fieldlab_cel3_calib)/launch/cameras_cal.launch">
        <arg name="external_camera_launch" value="true"/>
     </include>
  </group>

  <!-- robot definitions. will load robot description to /robot_description -->
  <include file="$(find abb_irb1660_moveit_config)/launch/planning_context.launch" >
    <arg name="load_robot_description" value="true" />
  </include>

  <!-- link to industrial simulator for connection with fake robot controller-->
  <include file="$(find industrial_robot_simulator)/launch/robot_interface_simulator.launch" >
  </include>
  
  <!-- publishes /joint_states-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- moveit params -->
  <include file="$(find abb_irb1660_moveit_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
  </include>

  <!-- vizualize -->
  <include file="$(find abb_irb1660_moveit_config)/launch/moveit_rviz.launch" if="$(arg rviz_planner)">
    <arg name="config" value="true"/>
  </include>

  <!-- TODO: ADD benchmarking-->

</launch>
